<%- include('../userPartials/header') %>
    <!-- LIGHT SECTION -->
    <section class="lightSection clearfix pageHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-title">
                        <h2>WALLET</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb float-right">
                        <li>
                            <a href='/'>Home</a>
                        </li>
                        <li class="active">WALLET</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile">
    <div class="container">

        <%- include('../userPartials/userProfileDetails') %>

        <div class="row">
            <div class="col-md-12">
                <div class="innerWrapper">
                    <div class="orderBox text-nowrap mb-0">
                        <div class="table-responsive">
                            <h2>Welcome, <%= userLogged.name %></h2>
                            <h5>Email: <%= userLogged.email %></h5>
                            <div class="walletBalance">
                                <h4>Wallet Balance: ₹<%= walletDet?.walletBalance.toFixed(2) %></h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Transaction Date</th>
                                            <th scope="col">Transaction Amount</th>
                                            <th scope="col">Transaction Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let i=walletDet?.walletTransaction.length - 1; i >= 0; i--){ %>
                                            <tr>
                                                <td><%= i+1 %></td>
                                                <td><%= walletDet?.walletTransaction[i].transactionDate.toDateString() %></td>
                                                <td>₹<%= walletDet?.walletTransaction[i].transactionAmount.toFixed(2) %></td>
                                                <td><%= walletDet?.walletTransaction[i].transactionType %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                    
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <%- include('../userPartials/footer') %>