<%- include('../adminPartials/header') %>
<head>
    <title>Admin viewOrder</title>
</head>
<h1>ORDER STATUS</h1>

<h4>Order Number:<%=orderDet._id%></h4>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h1>Status: <%= orderDet.orderStatus %></h1>
                <h3>Order Date: <%= new Date(orderDet.orderDate).toDateString() %></h3>
            </div>
            <div class="col-md-6">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Address</div>
                    <div class="card-body">
                        <h5 class="card-title"><%= addressDet.addressTitle %></h5>
                        <p class="card-text">
                            <%= addressDet.username %><br>
                           Phone: <%= addressDet.phone %><br>
                            <%= addressDet.address1 %><br>
                            <%= addressDet.address2 %><br>
                            <%= addressDet.city %><br>
                            <%= addressDet.state %>,Pincode: <%= addressDet.pincode %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Payment</div>
    <div class="card-body">
      <h5 class="card-title">₹ <%= orderDet.grandTotalCost %></h5>
      <p class="card-text">Payment Method: <%= orderDet.paymentType %></p>
    </div>
  </div>

  <h1>Product details:</h1>