<%- include('../adminPartials/header') %>

    <head>
        <title>Sales Report</title>
    </head>
    <div class="row">
        <div class="col-2">
            <div class="btn btn-info" id="downloadPDF">Download (PDF)</div>
        </div>
        <div class="col-2">
            <a id="downloadExcel" class="btn btn-info">Download (xlsx)</a>
        </div>
      
    </div>
    
   


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Order Date</th>
                <th scope="col" colspan="2">No of items/Products</th> <!-- Span 2 columns for cartData -->
                <th scope="col">Total Cost in Dollars</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i<salesDetails.length; i++){ %>
                <tr>
                    <th scope="row">
                        <%= i+1 %>
                    </th>
                    <td>
                        <%= salesDetails[i].userId.name %>
                    </td>
                    <td>
                        <%= salesDetails[i].orderDate.toDateString() %>
                    </td>
                    <td colspan="2"> <!-- Span 2 columns for cartData -->
                        <ul> <!-- Use an unordered list to display cartData items -->
                            <% for(let j=0; j<salesDetails[i].cartData.length; j++){ %>
                                <li>
                                    <%= salesDetails[i].cartData[j].productQuantity %>
                                        <%= salesDetails[i].cartData[j].productId.productName %>
                                </li>
                                <% } %>
                        </ul>
                    </td>
                    <td>
                        <%= salesDetails[i].grandTotalCost %>
                    </td>
                    <td>
                        <%= salesDetails[i].paymentType %>
                    </td>
                    <td>
                        <%= salesDetails[i].orderStatus %>
                    </td>
                </tr>
                <% } %>
        </tbody>

    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link">Pages</a></li>

            <% for(let i=0;i<totalPages;i++){ %>
                <li class="page-item"><a class="page-link" href="/salesReport?pageNo=<%=i+1%>">
                        <%=i+1%>
                    </a></li>
                <% } %>

                    <!-- <li class="page-item"><a class="page-link" href="/shop?pageId=2">2</a></li>
          <li class="page-item"><a class="page-link" href="/shop?pageId=3">3</a></li> -->


                    <!-- <li class="page-item"><a class="page-link">Next</a></li> -->
        </ul>
    </nav>
    <script>
        let downloadPDF = document.getElementById('downloadPDF')
        downloadPDF.addEventListener('click', () => window.print())
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Function to generate and download Excel file
            function downloadExcel() {
                /* Generate Excel data */
                var data = [
                    ['Name', 'Order Date','Total Cost in Dollars','Payment Method','Status'],
                    ['<%= salesDetails[0]?.userId.name %>', '<%= salesDetails[0]?.orderDate.toDateString() %>', '<%= salesDetails[0]?.grandTotalCost %>','<%= salesDetails[0]?.paymentType %>','<%= salesDetails[0]?.orderStatus %>'],
                    
                    ['<%= salesDetails[1]?.userId.name %>', '<%= salesDetails[1]?.orderDate.toDateString() %>', '<%= salesDetails[1]?.grandTotalCost %>','<%= salesDetails[1]?.paymentType %>','<%= salesDetails[1]?.orderStatus %>'],
                    ['<%= salesDetails[2]?.userId.name %>', '<%= salesDetails[2]?.orderDate.toDateString() %>', '<%= salesDetails[2]?.grandTotalCost %>','<%= salesDetails[2]?.paymentType %>','<%= salesDetails[2]?.orderStatus %>'],
                    ['<%= salesDetails[3]?.userId.name %>', '<%= salesDetails[3]?.orderDate.toDateString() %>', '<%= salesDetails[3]?.grandTotalCost %>','<%= salesDetails[3]?.paymentType %>','<%= salesDetails[3]?.orderStatus %>'],
                    ['<%= salesDetails[4]?.userId.name %>', '<%= salesDetails[4]?.orderDate.toDateString() %>', '<%= salesDetails[4]?.grandTotalCost %>','<%= salesDetails[4]?.paymentType %>','<%= salesDetails[4]?.orderStatus %>'],
                    ['<%= salesDetails[5]?.userId.name %>', '<%= salesDetails[5]?.orderDate.toDateString() %>', '<%= salesDetails[5]?.grandTotalCost %>','<%= salesDetails[5]?.paymentType %>','<%= salesDetails[5]?.orderStatus %>'],
                    ['<%= salesDetails[6]?.userId.name %>', '<%= salesDetails[6]?.orderDate.toDateString() %>', '<%= salesDetails[6]?.grandTotalCost %>','<%= salesDetails[6]?.paymentType %>','<%= salesDetails[6]?.orderStatus %>'],
                    ['<%= salesDetails[7]?.userId.name %>', '<%= salesDetails[7]?.orderDate.toDateString() %>', '<%= salesDetails[7]?.grandTotalCost %>','<%= salesDetails[7]?.paymentType %>','<%= salesDetails[7]?.orderStatus %>'],
                    ['<%= salesDetails[8]?.userId.name %>', '<%= salesDetails[8]?.orderDate.toDateString() %>', '<%= salesDetails[8]?.grandTotalCost %>','<%= salesDetails[8]?.paymentType %>','<%= salesDetails[8]?.orderStatus %>'],
                    ['<%= salesDetails[9]?.userId.name %>', '<%= salesDetails[9]?.orderDate.toDateString() %>', '<%= salesDetails[9]?.grandTotalCost %>','<%= salesDetails[9]?.paymentType %>','<%= salesDetails[9]?.orderStatus %>'],
                    ['<%= salesDetails[10]?.userId.name %>', '<%= salesDetails[10]?.orderDate.toDateString() %>', '<%= salesDetails[10]?.grandTotalCost %>','<%= salesDetails[10]?.paymentType %>','<%= salesDetails[10]?.orderStatus %>'],




                    // Add your data here
                ];
    
                /* Create workbook and worksheet */
                var wb = XLSX.utils.book_new();
                var ws = XLSX.utils.aoa_to_sheet(data);
    
                /* Add worksheet to workbook */
                XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
    
                /* Generate Excel file and trigger download */
                XLSX.writeFile(wb, 'data.xlsx');
            }
    
            // Event listener for downloading Excel file
            document.getElementById('downloadExcel').addEventListener('click', downloadExcel);
        });
    </script>